<div style="display:flex;justify-content: center; margin: 20px">
  <button color="primary" mat-raised-button (click)="backToDeviceDashboard()" >Back to devices dashboard</button>
</div>
<div style="margin: 10px">
  <h1>Gestion des users</h1>
  <button color="primary" mat-raised-button (click)="openAddUser()" >Add user</button>
  <table #table mat-table [dataSource]="users" style="width: 100%">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{user.name}}</td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let user">{{user.firstname}}</td>
    </ng-container>

    <!-- Identifier Column -->
    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef>Identifier</th>
      <td mat-cell *matCellDef="let user">{{user.identifier}}</td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let user">{{user.password}}</td>
    </ng-container>

    <!-- Access Column -->
    <ng-container matColumnDef="access">
      <th mat-header-cell *matHeaderCellDef>Access</th>
      <td mat-cell *matCellDef="let user">{{user.access}}</td>
    </ng-container>

    <!-- Button -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let user; let j = index;" >
        <button color="primary" mat-raised-button (click)="openEdit(user)" >Edit</button>
        <button color="warn" mat-raised-button (click)="deleteUser(j)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

